<section id="todos" class="<%= list_todo_class(@list) %>">
  <header>
    <h2 class="complete"><%= @list[:name] %></h2>
      <ul>
        <% if list_incomplete?(@list) %>
          <li>
            <form action="/lists/<%= @list[:id] %>/complete_all" method="post">
              <button class="check" type="submit">Complete All</button>
            </form>
          </li>
        <% end %>
        <li>
          <a href="/lists/<%= @list[:id] %>/edit" class="edit">Edit</a>
        </li>
      </ul>
  </header>

  <ul>
    <% sort_todos(@list[:todos]) do |todo| %>
      <li class="<%= todo_css_class(todo) %>">
        <form action="/lists/<%= @list[:id] %>/todos/<%= todo[:id] %>" method="post" class="check">
          <input type="hidden" name="completed" value="<%= !todo[:completed] %>" />
          <button type="submit">Complete</button>
        </form>

        <h3><%= todo[:name] %></h3>

        <form action="/lists/<%= @list[:id] %>/todos/<%= todo[:id] %>/delete" method="post" class="delete">
          <button type="submit">Delete</button>
        </form>

      </li>
    <% end %>
  </ul>
</section>

<form action="/lists/<%= @list_id %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo" id="todo" placeholder="Something to do" type="text" value="<%= params[:todo] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>

<% content_for :header_links do %>
  <a class="list" href="/lists">All Lists</a>
<% end %>
